:root {
  --main-color: #37003c;
}
.header {
  height: 200px;
}
.logo img {
  height: 150px;
}
.clubs img {
  padding: 5px;
  min-height: 40px;
}
.club-state {
  font-size: 0.65rem;
}
.navbar {
  background-color: var(--main-color);
  color: aliceblue;
}
